.page {
    width: 100%;
}

.container {
    max-width: 1140px;
    text-align: center;
    padding: 30px 30px;
    margin: auto;
}

.container h1 {
    font-family: 'Roboto', sans-serif;
}

.spacer {
    border-top: 1px solid #e4e4e4;
    width: 80%;
    margin: 30px auto;
}

.product-image {
    width: 90%;
    height: 0;
    padding-bottom: 66.66667%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container {
    position: relative;
}

.image-container:hover .product-image {
    opacity: 0.3;
    background-size: 100%;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 46%;
    left: 46%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.overlay button {
    width: 120px;
    line-height: 38px;
}

.overlay button:first-child {
    margin-bottom: 1em;
}

.product-details {
    padding-top: 15px;
    text-align: center;
    margin-bottom: 40px;
}