<div class="toolbar-container">
  <mat-toolbar>

    <a routerLink="/" style="text-decoration: none;"><span
        style="font-family: 'Monoton', cursive; font-weight: bold; font-size:24px; color:black;">VENDOR</span></a>

    <span class="spacer"></span>

    <button mat-icon-button aria-label="Login" routerLink="login" *ngIf="!this.authService.isUserSignedIn">
      Login
    </button>

    <span class="spacer" *ngIf="!this.authService.isUserSignedIn"></span>

    <button mat-icon-button aria-label="Shop" routerLink="shop">
      Shop
    </button>

    <span class="spacer"></span>

    <button mat-icon-button aria-label="Cart" routerLink="cart"
      *ngIf="this.authService.isUserSignedIn && this.cartService.cartList.length == 0">
      Cart
    </button>
    <button mat-icon-button aria-label="Cart" routerLink="cart" [matBadge]="this.cartService.cartList.length"
      matBadgePosition="after" matBadgeColor="accent"
      *ngIf="this.authService.isUserSignedIn && this.cartService.cartList.length > 0">
      Cart
    </button>

    <span class="spacer"></span>

    <button mat-icon-button aria-label="Profile" routerLink="user/profile" *ngIf="this.authService.isUserSignedIn">
      Profile
    </button>

    <span class="spacer"></span>

    <button mat-icon-button aria-label="My Orders" routerLink="user/orders" *ngIf="this.authService.isUserSignedIn">
      My Orders
    </button>

    <span class="spacer" *ngIf="this.authService.isUserSignedIn"></span>

    <button mat-icon-button aria-label="Sign out" routerLink="signout" *ngIf="this.authService.isUserSignedIn">
      Sign Out
    </button>

  </mat-toolbar>
</div>