<mat-card>
    <mat-card-content>
        <div>
            <h1 style="margin-bottom:15px;">Sign Up</h1>
            <div fxLayout="column">
                <form #form="ngForm" (ngSubmit)="this.authService.signUp(emailInput.value, passwordInput.value, form)">

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>E-mail address</mat-label>
                            <input type="email" ngModel pattern="^([a-z0-9_.-]+)@([\da-z.-]+)\.([a-z.]{2,6})$" matInput
                                name="email" #emailInput="ngModel" required />
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="emailInput.hasError('required')">This is a required field.</mat-error>
                            <mat-error *ngIf="emailInput.hasError('pattern')">Incorrect e-mail address format.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Password</mat-label>
                            <input type="password" ngModel matInput name="password" #passwordInput="ngModel"
                                minlength="8" required />
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error *ngIf="passwordInput.hasError('required')">This is a required field.</mat-error>
                            <mat-error *ngIf="passwordInput.hasError('minlength')">Password must contain at least 8
                                characters.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Repeat pasword</mat-label>
                            <input type="password" ngModel matInput name="passwordRepeat" #passwordInputRepeat="ngModel"
                                (ngModelChange)="checkPasswords(passwordInput, passwordInputRepeat)" required />
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error *ngIf="passwordInputRepeat.hasError('required')">This is a required field.
                            </mat-error>
                            <mat-error *ngIf="passwordInputRepeat.hasError('notSame')">Passwords do not match.
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <h1 style="margin-top:50px; margin-bottom:15px;">Delivery Address</h1>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" fxFlexFill>
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>First Name</mat-label>
                            <input type="text" ngModel matInput name="firstName" #firstNameInput="ngModel" required />
                            <mat-error *ngIf="firstNameInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Last Name</mat-label>
                            <input type="text" ngModel matInput name="lastName" #lastNameInput="ngModel" required />
                            <mat-error *ngIf="lastNameInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Phone Number</mat-label>
                            <input type="text" ngModel matInput name="phone" #phoneInput="ngModel" required />
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="phoneInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>City</mat-label>
                            <input type="city" ngModel matInput name="city" #cityInput="ngModel" required />
                            <mat-icon matSuffix>apartment</mat-icon>
                            <mat-error *ngIf="cityInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Postcode</mat-label>
                            <input type="text" ngModel matInput name="postcode" #postcodeInput="ngModel" required />
                            <mat-icon matSuffix>apartment</mat-icon>
                            <mat-error *ngIf="postcodeInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlexFill>
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Address</mat-label>
                            <input type="email" ngModel matInput name="address1" #address1Input="ngModel" required />
                            <mat-icon matSuffix>home</mat-icon>
                            <mat-error *ngIf="address1Input.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Address (2nd line - optional)</mat-label>
                            <input type="email" ngModel matInput name="address2" #address2Input="ngModel" />
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlexFill>
                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <mat-select [formControl]="this.authService.countrySelect" required>
                                <mat-option *ngFor="let country of this.authService.countries" [value]="country.value">
                                    {{country.value}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this.authService.countrySelect.hasError('required')">Please select your
                                country.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutGap="20px" style="padding-top:10px;">
                        <button type="submit" mat-raised-button color="primary" fxFlex="100"
                            [disabled]="!checkFormValidity(form)">Sign Up</button>
                    </div>

                </form>
            </div>
        </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-footer style="padding-top:15px; text-align: center;">
        <p>Already have an account? <a routerLink="/login" class="md-accent">Log In</a> instead.</p>
    </mat-card-footer>
</mat-card>