<mat-card>
    <mat-card-content>        
        <div>
            <h1 style="margin-bottom:15px;">Sign Up</h1>
            <div fxLayout="column">
                <form #form="ngForm" (ngSubmit)="_authService.signUp(emailInput.value, passwordInput.value, form)">

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>E-mail address</mat-label>
                            <input type="email" ngModel pattern="^([a-z0-9_.-]+)@([\da-z.-]+)\.([a-z.]{2,6})$" matInput name="email" #emailInput="ngModel" required/>
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="emailInput.hasError('required')">This is a required field.</mat-error>
                            <mat-error *ngIf="emailInput.hasError('pattern')">Incorrect e-mail address format.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Password</mat-label>
                            <input type="password" ngModel matInput name="password" #passwordInput="ngModel" minlength="8" required />
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error *ngIf="passwordInput.hasError('required')">This is a required field.</mat-error>
                            <mat-error *ngIf="passwordInput.hasError('minlength')">Password must contain at least 8 characters.</mat-error>
                        </mat-form-field>
                
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Repeat pasword</mat-label>
                            <input type="password" ngModel matInput name="passwordRepeat" #passwordInputRepeat="ngModel" (ngModelChange)="checkPasswords(passwordInput, passwordInputRepeat)" required />
                            <mat-icon matSuffix>lock</mat-icon>
                            <mat-error *ngIf="passwordInputRepeat.hasError('required')">This is a required field.</mat-error>
                            <mat-error *ngIf="passwordInputRepeat.hasError('notSame')">Passwords do not match.</mat-error>
                        </mat-form-field>
                    </div>
            
                    <h1 style="margin-top:50px; margin-bottom:15px;">Delivery Address</h1>

                    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" fxFlexFill>
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>First Name</mat-label>
                            <input type="text" ngModel matInput name="firstName" #firstNameInput="ngModel" required />
                            <mat-error *ngIf="firstNameInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>
                
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Last Name</mat-label>
                            <input type="text" ngModel matInput name="lastName" #lastNameInput="ngModel" required/>
                            <mat-error *ngIf="lastNameInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Phone Number</mat-label>
                            <input type="text" ngModel matInput name="phone" #phoneInput="ngModel" required/>
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="phoneInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>City</mat-label>
                            <input type="city" ngModel matInput name="city" #cityInput="ngModel" required />
                            <mat-icon matSuffix>apartment</mat-icon>
                            <mat-error *ngIf="cityInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>
                
                        <mat-form-field appearance="outline" fxFlex="50">
                            <mat-label>Postcode</mat-label>
                            <input type="text" ngModel matInput name="postcode" #postcodeInput="ngModel" required />
                            <mat-icon matSuffix>apartment</mat-icon>
                            <mat-error *ngIf="postcodeInput.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxFlexFill>
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Address</mat-label>
                            <input type="email" ngModel matInput name="address1" #address1Input="ngModel" required/>
                            <mat-icon matSuffix>home</mat-icon>
                            <mat-error *ngIf="address1Input.hasError('required')">This is a required field.</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Address (2nd line - optional)</mat-label>
                            <input type="email" ngModel matInput name="address2" #address2Input="ngModel" />
                        </mat-form-field>
                    </div>
        
                    <div fxLayout="column" fxFlexFill>
                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <mat-select [formControl]="this._authService.countrySelect" required>
                                <mat-option *ngFor="let country of this._authService.countries" [value]="country.value">
                                    {{country.value}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this._authService.countrySelect.hasError('required')">Please select your country.</mat-error>
                        </mat-form-field>
                    </div>

                    <!-- <div fxLayout="column" fxFlexFill>
                        <mat-form-field appearance="outline">
                            <mat-label>Country</mat-label>
                            <mat-select [formControl]="countrySelect" required>
                            <mat-option>--</mat-option>
                            <mat-option value="Serbia">
                                Serbia
                            </mat-option>
                            </mat-select>
                            <mat-error *ngIf="countrySelect.hasError('required')">Please select your country.</mat-error>
                        </mat-form-field>
                    </div> -->

                    <div fxLayout="row" fxLayoutGap="20px" style="padding-top:10px;">
                        <button type="submit" mat-raised-button color="primary" fxFlex="100" [disabled]="!checkFormValidity(form)">Sign Up</button>
                    </div>

                </form>
            </div>
        </div>
    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-footer style="padding-top:15px; text-align: center;"><p>Already have an account? <a routerLink="/login" class="md-accent">Log In</a> instead.</p></mat-card-footer>
</mat-card>




<!-- <mat-card>
    <mat-card-content>

        <mat-card-title style="margin-bottom:15px;">Sign Up</mat-card-title>

        <div fxLayout="column" fxLayoutGap="20px" fxFlexFill>

            <form #form="ngForm" (ngSubmit)="auth.signUpViaEmail(emailInput.value, passwordInput.value, form)">

                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" fxFlexFill>
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>First Name</mat-label>
                        <input type="text" ngModel matInput name="firstName" #firstNameInput="ngModel" required/>
                        <mat-error *ngIf="firstNameInput.hasError('required')">This is a required field.</mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Last Name</mat-label>
                        <input type="text" ngModel matInput name="lastName" #lastName="ngModel" required/>
                        <mat-error *ngIf="lastName.hasError('required')">This is a required field.</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>E-mail address</mat-label>
                        <input type="email" pattern="^([a-z0-9_.-]+)@([\da-z.-]+)\.([a-z.]{2,6})$" ngModel matInput name="email" #emailInput="ngModel" required/>
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="emailInput.hasError('required')">This is a required field.</mat-error>
                        <mat-error *ngIf="emailInput.hasError('pattern')">Incorrect e-mail address format.</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Password</mat-label>
                        <input type="password" ngModel matInput name="password" #passwordInput="ngModel" minlength="8" required/>
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-error *ngIf="passwordInput.hasError('required')">This is a required field.</mat-error>
                        <mat-error *ngIf="passwordInput.hasError('minlength')">Password must contain at least 8 characters.</mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Repeat pasword</mat-label>
                        <input type="password" ngModel matInput name="passwordRepeat" #passwordInputRepeat="ngModel" required/>
                        <mat-icon matSuffix>lock</mat-icon>
                        <mat-error *ngIf="passwordInputRepeat.hasError('required')">This is a required field.</mat-error>
                        <mat-error *ngIf="passwordInputRepeat.hasError('matched')">Passwords do not match.</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="20px" style="padding-top:10px;">
                    <button type="submit" mat-raised-button color="primary" fxFlex="80">Register</button>
                    <button type="reset" mat-stroked-button color="warn" [disabled]="form.pristine" fxFlex="20">Reset</button>
                </div>

            </form>

        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer style="padding-top:15px; text-align: center;"><p>Already have an account? <a routerLink="/login" class="md-accent">Log In</a> instead.</p></mat-card-footer>
</mat-card> -->





























<!-- <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.2%" fxLayoutGap.lt-md="2.2%" #form="ngForm">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%">
        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="name">First Name</mat-label>
            <input type="text" ngModel matInput name="firstName" #firstNameInput="ngModel" required/>
            <mat-error *ngIf="firstNameInput.hasError('required')">This is a required field.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="surname">Last Name</mat-label>
            <input type="text" ngModel matInput name="lastName" #lastName="ngModel" required/>
            <mat-error *ngIf="lastName.hasError('required')">This is a required field.</mat-error>
        </mat-form-field>
    </div>

    <div fxFlex="2">
        <mat-form-field appearance="outline">
            <mat-label for="email">E-mail address</mat-label>
            <input type="email" pattern="^([a-z0-9_.-]+)@([\da-z.-]+)\.([a-z.]{2,6})$" ngModel matInput name="email" #emailInput="ngModel" required/>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="emailInput.hasError('required')">This is a required field.</mat-error>
            <mat-error *ngIf="emailInput.hasError('pattern')">Incorrect e-mail address format.</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%">
        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="phone">Telephone</mat-label>
            <input type="text" pattern="^(0|\+381)(([1-3][0-9])|(230)|(280)|(290)|(390))[0-9]{7}$" ngModel matInput name="phone" #phone="ngModel" [required]="mobilePhone.invalid || mobilePhone.pristine"/>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>пр. 0111234567 или +381111234567</mat-hint>
            <mat-error *ngIf="phone.hasError('required')">Поље фиксног броја телефона не сме бити празно ако није унет број мобилног телефона</mat-error>
            <mat-error *ngIf="phone.hasError('pattern') && mobilePhone.invalid">Није исправан формат броја фиксног телефона</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="mobilePhone">Број мобилног телефона</mat-label>
            <input type="text" pattern="^(0|\+381)6[0-69][0-9]{7}$" ngModel matInput name="mobilePhone" #mobilePhone="ngModel" [required]="phone.invalid || phone.pristine"/>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>пр. 0651234567 или +381651234567</mat-hint>
            <mat-error *ngIf="mobilePhone.hasError('required')">Поље мобилног броја телефона не сме бити празно ако није унет број фиксног телефона</mat-error>
            <mat-error *ngIf="mobilePhone.hasError('pattern') && phone.invalid">Није исправан формат броја мобилног телефона</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%">
        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="password">Лозинка</mat-label>
            <input type="password" ngModel matInput autocomplete="new-password" name="password" #passwordInput="ngModel" minlength="8" required/>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>пр. secretPassword123</mat-hint>
            <mat-error *ngIf="passwordInput.hasError('required')">Поље лозинке не сме бити празно</mat-error>
            <mat-error *ngIf="passwordInput.hasError('minlength')">Лозинка мора садржати минимум 8 карактера</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="passwordRepeat">Понови лозинку</mat-label>
            <input type="password" ngModel matInput autocomplete="new-password" name="passwordRepeat" #passwordInputRepeat="ngModel" required/>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Иста лозинка као у пољу поред</mat-hint>
            <mat-error *ngIf="passwordInputRepeat.hasError('required')">Поље поновне лозинке не сме бити празно</mat-error>
            <mat-error *ngIf="passwordInputRepeat.hasError('matched')">Поље се не подудара са лозинком у пољу поред</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label for="deliveryAddress">Адреса за доставу</mat-label>
            <input type="text" pattern="^([\u0410-\u0418\u0402\u0408\u041A-\u041F\u0409\u040A\u0420-\u0428\u040B\u040FA-Z\u0110\u017D\u0106\u010C\u0160]{1}[\u0430-\u0438\u0452\u043A-\u043F\u045A\u0459\u0440-\u0448\u0458\u045B\u045Fa-z\u0111\u017E\u0107\u010D\u0161]+\s)+((BB)|(ББ)|([0-9]+[\u0430-\u0438\u0452\u043A-\u043F\u045A\u0459\u0440-\u0448\u0458\u045B\u045Fa-z\u0111\u017E\u0107\u010D\u0161]?)),\s([\u0410-\u0418\u0402\u0408\u041A-\u041F\u0409\u040A\u0420-\u0428\u040B\u040FA-Z\u0110\u017D\u0106\u010C\u0160]{1}[\u0430-\u0438\u0452\u043A-\u043F\u045A\u0459\u0440-\u0448\u0458\u045B\u045Fa-z\u0111\u017E\u0107\u010D\u0161]+\s?)+$" 
                    ngModel matInput name="deliveryAddress" #deliveryAddress="ngModel" [required]="deliveryAddressPak.invalid || deliveryAddressPak.pristine">
            <mat-icon matSuffix>location_on</mat-icon>
            <mat-hint>пр. Николе Пашића 93, Ниш или Цара Душана 75в, Земун или Новосадска ББ, Стара Пазова</mat-hint>
            <mat-error *ngIf="deliveryAddress.hasError('required')">Поље адресе за доставу не сме бити празно уколико ПАК није наведен</mat-error>
            <mat-error *ngIf="deliveryAddress.hasError('pattern') && deliveryAddressPak.invalid">Није исправан формат адресе за доставу</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" fxFlex>
            <mat-label for="deliveryAddressPAK">Поштански адресни код</mat-label>
            <input type="number" pattern="^[0-9]{6}$" ngModel matInput name="deliveryAddressPAK" #deliveryAddressPak="ngModel" [required]="deliveryAddress.invalid || deliveryAddress.pristine"/>
            <mat-icon matSuffix>local_post_office</mat-icon>
            <mat-hint>пр. 456789</mat-hint>
            <mat-error *ngIf="deliveryAddressPak.hasError('required')">Поље ПАК броја не сме бити празно уколико адреса за доставу није наведена</mat-error>
            <mat-error *ngIf="deliveryAddressPak.hasError('pattern') && deliveryAddress.invalid">Није исправан формат ПАК броја</mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" fxFlexFill>
            <mat-label for="paymentAddress">Број кредитне картице/адреса новчаника крипто валуте</mat-label>
            <input type="text" ngModel matInput name="paymentAddress" #paymentAddress="ngModel" required/>
            <mat-icon matSuffix>payment</mat-icon>
        </mat-form-field>
    </div>


    <section fxLayout="row" fxLayoutGap="10px">
        <button type="submit" mat-stroked-button color="primary">Региструј ме</button>
        <button type="reset" mat-stroked-button color="warn" [disabled]="form.pristine">Обриши све</button>
    </section>

    <div></div>
</form> -->




<!-- <div fxLayout="column" style="height: 100px;">

	<div fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div fxFlex="15" class="sec1" fxFlex.xs="55" style="background-color: yellow;">
			first-section
		</div>
		<div fxFlex="30" class="sec2" style="background-color: blueviolet;">
			second-section
		</div>
		<div fxFlex="55" class="sec3" fxFlex.xs="15" style="background-color: brown;">
			third-section
		</div>

	</div>

	<div fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div fxFlex="40" class="sec1" fxFlex.xs="55" style="background-color: green;">
			first-section
		</div>
		<div fxFlex="60" class="sec2" style="background-color: blue;">
			second-section
		</div>

	</div>

	<div fxLayout="row" fxLayout.xs="column" fxFlexFill>

		<div class="sec2" style="background-color: coral;" fxFlexFill>
			second-section
		</div>

	</div>

</div> -->





<!-- <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1.2%" fxLayoutGap.lt-md="2.2%" #form="ngForm">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%">
        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="name">First Name</mat-label>
            <input type="text" ngModel matInput name="firstName" #firstNameInput="ngModel" required/>
            <mat-error *ngIf="firstNameInput.hasError('required')">This is a required field.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="surname">Last Name</mat-label>
            <input type="text" ngModel matInput name="lastName" #lastName="ngModel" required/>
            <mat-error *ngIf="lastName.hasError('required')">This is a required field.</mat-error>
        </mat-form-field>
    </div>

    <div fxFlex="2">
        <mat-form-field appearance="outline">
            <mat-label for="email">E-mail address</mat-label>
            <input type="email" pattern="^([a-z0-9_.-]+)@([\da-z.-]+)\.([a-z.]{2,6})$" ngModel matInput name="email" #emailInput="ngModel" required/>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="emailInput.hasError('required')">This is a required field.</mat-error>
            <mat-error *ngIf="emailInput.hasError('pattern')">Incorrect e-mail address format.</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%">
        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="phone">Telephone</mat-label>
            <input type="text" pattern="^(0|\+381)(([1-3][0-9])|(230)|(280)|(290)|(390))[0-9]{7}$" ngModel matInput name="phone" #phone="ngModel" [required]="mobilePhone.invalid || mobilePhone.pristine"/>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>пр. 0111234567 или +381111234567</mat-hint>
            <mat-error *ngIf="phone.hasError('required')">Поље фиксног броја телефона не сме бити празно ако није унет број мобилног телефона</mat-error>
            <mat-error *ngIf="phone.hasError('pattern') && mobilePhone.invalid">Није исправан формат броја фиксног телефона</mat-error>
        </mat-form-field>
    
        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="mobilePhone">Број мобилног телефона</mat-label>
            <input type="text" pattern="^(0|\+381)6[0-69][0-9]{7}$" ngModel matInput name="mobilePhone" #mobilePhone="ngModel" [required]="phone.invalid || phone.pristine"/>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-hint>пр. 0651234567 или +381651234567</mat-hint>
            <mat-error *ngIf="mobilePhone.hasError('required')">Поље мобилног броја телефона не сме бити празно ако није унет број фиксног телефона</mat-error>
            <mat-error *ngIf="mobilePhone.hasError('pattern') && phone.invalid">Није исправан формат броја мобилног телефона</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%">
        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="password">Лозинка</mat-label>
            <input type="password" ngModel matInput autocomplete="new-password" name="password" #passwordInput="ngModel" minlength="8" required/>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>пр. secretPassword123</mat-hint>
            <mat-error *ngIf="passwordInput.hasError('required')">Поље лозинке не сме бити празно</mat-error>
            <mat-error *ngIf="passwordInput.hasError('minlength')">Лозинка мора садржати минимум 8 карактера</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="1">
            <mat-label for="passwordRepeat">Понови лозинку</mat-label>
            <input type="password" ngModel matInput autocomplete="new-password" name="passwordRepeat" #passwordInputRepeat="ngModel" required/>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint>Иста лозинка као у пољу поред</mat-hint>
            <mat-error *ngIf="passwordInputRepeat.hasError('required')">Поље поновне лозинке не сме бити празно</mat-error>
            <mat-error *ngIf="passwordInputRepeat.hasError('matched')">Поље се не подудара са лозинком у пољу поред</mat-error>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5%">
        <mat-form-field appearance="outline" fxFlex>
            <mat-label for="deliveryAddress">Адреса за доставу</mat-label>
            <input type="text" pattern="^([\u0410-\u0418\u0402\u0408\u041A-\u041F\u0409\u040A\u0420-\u0428\u040B\u040FA-Z\u0110\u017D\u0106\u010C\u0160]{1}[\u0430-\u0438\u0452\u043A-\u043F\u045A\u0459\u0440-\u0448\u0458\u045B\u045Fa-z\u0111\u017E\u0107\u010D\u0161]+\s)+((BB)|(ББ)|([0-9]+[\u0430-\u0438\u0452\u043A-\u043F\u045A\u0459\u0440-\u0448\u0458\u045B\u045Fa-z\u0111\u017E\u0107\u010D\u0161]?)),\s([\u0410-\u0418\u0402\u0408\u041A-\u041F\u0409\u040A\u0420-\u0428\u040B\u040FA-Z\u0110\u017D\u0106\u010C\u0160]{1}[\u0430-\u0438\u0452\u043A-\u043F\u045A\u0459\u0440-\u0448\u0458\u045B\u045Fa-z\u0111\u017E\u0107\u010D\u0161]+\s?)+$" 
                    ngModel matInput name="deliveryAddress" #deliveryAddress="ngModel" [required]="deliveryAddressPak.invalid || deliveryAddressPak.pristine">
            <mat-icon matSuffix>location_on</mat-icon>
            <mat-hint>пр. Николе Пашића 93, Ниш или Цара Душана 75в, Земун или Новосадска ББ, Стара Пазова</mat-hint>
            <mat-error *ngIf="deliveryAddress.hasError('required')">Поље адресе за доставу не сме бити празно уколико ПАК није наведен</mat-error>
            <mat-error *ngIf="deliveryAddress.hasError('pattern') && deliveryAddressPak.invalid">Није исправан формат адресе за доставу</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" fxFlex>
            <mat-label for="deliveryAddressPAK">Поштански адресни код</mat-label>
            <input type="number" pattern="^[0-9]{6}$" ngModel matInput name="deliveryAddressPAK" #deliveryAddressPak="ngModel" [required]="deliveryAddress.invalid || deliveryAddress.pristine"/>
            <mat-icon matSuffix>local_post_office</mat-icon>
            <mat-hint>пр. 456789</mat-hint>
            <mat-error *ngIf="deliveryAddressPak.hasError('required')">Поље ПАК броја не сме бити празно уколико адреса за доставу није наведена</mat-error>
            <mat-error *ngIf="deliveryAddressPak.hasError('pattern') && deliveryAddress.invalid">Није исправан формат ПАК броја</mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="outline" fxFlexFill>
            <mat-label for="paymentAddress">Број кредитне картице/адреса новчаника крипто валуте</mat-label>
            <input type="text" ngModel matInput name="paymentAddress" #paymentAddress="ngModel" required/>
            <mat-icon matSuffix>payment</mat-icon>
        </mat-form-field>
    </div>


    <section fxLayout="row" fxLayoutGap="10px">
        <button type="submit" mat-stroked-button color="primary">Региструј ме</button>
        <button type="reset" mat-stroked-button color="warn" [disabled]="form.pristine">Обриши све</button>
    </section>

    <div></div>
</form> -->



<!-- 
<mat-card>
    <mat-card-content>

        <mat-card-title style="margin-bottom:15px;">Sign Up</mat-card-title>

        <form  #f="ngForm" (ngSubmit)="onSubmit(f)">

            <div class="form-group">
                <mat-form-field appearance="outline" class="input-control">
                    <mat-label>First Name</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field appearance="outline" class="input-control">
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>


            <button mat-raised-button color="primary">Log in</button>
            

        </form>

    </mat-card-content>

    <mat-card-footer><p>Already have an account? <a routerLink="/login" class="md-accent">Log In</a> instead.</p></mat-card-footer>
</mat-card>  -->