 .app-container {
     width:100%;
     height:100%;
 }

.spacer {
    flex: 1 1 auto;
}

@media screen and (max-width: 992px) {
    mat-toolbar {
        width: 100%;
        margin: 0%;
    }
}

 .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    border: solid 1px #eee;
  }