.page, .container {
  max-width: 1140px;
  text-align: center;
  padding: 0 30px;
  margin: auto;
  margin-top: 30px;
}

.container h1 {
  text-align: left;
}

table {
  width: 100%;
  text-align: left;
  border: 1px solid #eee;
}