h1 {
    font-family: 'Oswald', sans-serif;
}

.page-container {
    max-width: 1340px;
    margin: auto;
    padding: 30px;
    padding-bottom: 20%;
}

.cart-container {
    max-width: 740px;
    padding: 30px 50px;
}

.overview-container {
    max-width: 400px;
    padding: 30px 60px;
    background-color: #eee;
    max-height: 600px;
}


button#checkout {
    height: 50px;
    text-transform: uppercase;
    margin-top: 10px;
}

button#promocode {
    height: 50px;
    width: 80px;
    text-transform: uppercase;
}

.column-titles {
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.cart-item {
    margin-bottom: 20px;
}

mat-divider {
    width: 100%;
    margin-bottom: 30px;
}

.item-price {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.product-image img {
    max-width: 90px;
    max-height: 90px;
}

.product-info p {
    padding: 2px 15px;
}

.product-name {
    font-weight: bold;
    font-size: 16px;

}

.product-category {
    color: rgba(128, 11, 11, 0.8);
}

.product-remove {
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    cursor: pointer;
}

.return-button, .return-button:visited {
    text-decoration: none;
    color: rgb(0, 68, 255);
    font-size: 18px;
}

.price-overview span {
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}