<div fxLayout="row" class="page-container" *ngIf="this.cartService.cartList.length <= 0">
    <p style="text-align: center;margin:auto;">Your Shopping Cart is empty.</p>
</div>

<div fxLayout="column" class="page-container" *ngIf="this.cartService.cartList.length > 0">
    <div>
        <h1 style="margin-top:50px; margin-bottom:15px;">Checkout</h1>
        <div fxLayout="column">
            <form #form="ngForm" (ngSubmit)="insertOrder(form)">

                <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px" fxFlexFill>
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>First Name</mat-label>
                        <input type="text" [(ngModel)]="this.authService.userFirstName" matInput name="firstName"
                            #firstNameInput="ngModel" />
                        <mat-error *ngIf="firstNameInput.hasError('required')">This is a required field.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Last Name</mat-label>
                        <input type="text" [(ngModel)]="this.authService.userLastName" matInput name="lastName"
                            #lastNameInput="ngModel" required />
                        <mat-error *ngIf="lastNameInput.hasError('required')">This is a required field.</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Phone Number</mat-label>
                        <input type="text" matInput [(ngModel)]="this.authService.userPhone" name="phone"
                            #phoneInput="ngModel" required />
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="phoneInput.hasError('required')">This is a required field.</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>City</mat-label>
                        <input type="city" ngModel matInput [(ngModel)]="this.authService.userCity" name="city"
                            #cityInput="ngModel" />
                        <mat-icon matSuffix>apartment</mat-icon>
                        <mat-error *ngIf="cityInput.hasError('required')">This is a required field.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="50">
                        <mat-label>Postcode</mat-label>
                        <input type="text" ngModel matInput [(ngModel)]="this.authService.userPostcode" name="postcode"
                            #postcodeInput="ngModel" required />
                        <mat-icon matSuffix>apartment</mat-icon>
                        <mat-error *ngIf="postcodeInput.hasError('required')">This is a required field.</mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxFlexFill>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Address</mat-label>
                        <input type="email" matInput [(ngModel)]="this.authService.userAddress1" name="address1"
                            #address1Input="ngModel" required />
                        <mat-icon matSuffix>home</mat-icon>
                        <mat-error *ngIf="address1Input.hasError('required')">This is a required field.</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Address (2nd line - optional)</mat-label>
                        <input type="email" matInput [(ngModel)]="this.authService.userAddress2" name="address2"
                            #address2Input="ngModel" />
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxFlexFill>
                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <mat-select [formControl]="this.authService.countrySelect" required>
                            <mat-option *ngFor="let country of this.authService.countries" [value]="country.value">
                                {{country.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="this.authService.countrySelect.hasError('required')">Please select your
                            country.</mat-error>
                    </mat-form-field>
                </div>

                <mat-divider></mat-divider>

                <div class="price-overview">
                    <div fxLayout="row">
                        <span fxFlex="50" fxLayoutAlign="start">Subtotal</span>
                        <span fxFlex="50" fxLayoutAlign="end">{{ this.cartService.subtotal.toFixed(2) }}</span>
                    </div>

                    <div fxLayout="row">
                        <span fxFlex="50" fxLayoutAlign="start">Shipping</span>
                        <span fxFlex="50" fxLayoutAlign="end">€{{ this.cartService.shippingCost }}.00</span>
                    </div>

                    <div fxLayout="row">
                        <span fxFlex="50" fxLayoutAlign="start">Promo code</span>
                        <span fxFlex="50" fxLayoutAlign="end">€-{{ this.cartService.promoDeduction.toFixed(2) }}</span>
                    </div>

                    <mat-divider style="margin: 10px 0px;"></mat-divider>

                    <div fxLayout="row">
                        <span fxFlex="50" fxLayoutAlign="start">Total</span>
                        <span fxFlex="50" fxLayoutAlign="end">€{{ this.calculateTotal().toFixed(2) }}</span>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutGap="20px" style="padding-top:10px;">
                    <button type="submit" mat-raised-button color="primary" fxFlex="100"
                        [disabled]="!checkFormValidity(form)">Place Order</button>
                </div>

            </form>
        </div>
    </div>
</div>