<div class="page-container">
  <h1>Order History</h1>

  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Order No. </th>
      <td mat-cell *matCellDef="let element"> #{{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="displayname">
      <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Buyer </th>
      <td mat-cell *matCellDef="let element"> {{element.displayname}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef style="text-align:center;"> Total </th>
      <td mat-cell *matCellDef="let element"> € {{element.total.toFixed(2) }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="text-align:center;"></th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button>
          <mat-icon>info</mat-icon>
        </button></td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
          fxLayout="column" style="padding-left: 30px;line-height:2px;">
          <h3>Delivery Info</h3>
          <p>{{ element.displayname }}</p>
          <p>{{ element.city + " " + element.postcode }}</p>
          <p>{{ element.address1 }}</p>
          <p>{{ element.address2 }}</p>
          <p>{{ element.phone }}</p>
        </div>
        <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
          *ngFor="let product of element.productInfo; let i = index" fxLayout="row">
          <div class="product-image">
            <img [src]="product.image">
          </div>
          <div fxFlex="30" class="product-name" fxLayoutAlign="start center">{{ product.title }}</div>
          <div fxFlex="30" fxLayoutAlign="start center">Qty: {{ element.quantity[i] }}</div>
          <div fxFlex="30" fxLayoutAlign="start center">Total: {{ (element.quantity[i] * product.price).toFixed(2) }}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
      [class.expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
  </table>
</div>